* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(45deg,
            rgb(65, 88, 208) 0%,
            rgb(200, 80, 192) 50%,
            rgb(255, 204, 112) 100%);
    height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
}

.open-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    border-radius: 4px;
    font-size: 20px;
    background-color: #fff;
    border: unset;
    overflow: unset;
    cursor: pointer;
    transition: 0.25s;
}

.open-modal:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

/* Modal  */
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.25s;
}

.hide {
    display: none;
}

.modal__inner {
    position: relative;
    margin: 200px auto;
    width: 450px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    animation: showModal linear 0.25s;
}

@keyframes showModal {
    from {
        top: -250px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

.modal__header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #fff;
    background: #e26e70;
}

.modal__header-icon {
    cursor: pointer;
    font-size: 18px;
}

.modal__body {
    padding: 15px;
}

.modal__body-title {
    color: #e26e70;
}

.modal__body-desc {
    padding: 25px 0;
}

.modal__footer {
    padding: 15px;
    display: flex;
    justify-content: flex-end;
}

.modal__footer--btn {
    padding: 10px 20px;
    color: #fff;
    background: #e26e70;
    border-radius: 5px;
    border: unset;
    outline: unset;
    cursor: pointer;
}

